@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<p>
  @ViewBag.Data1
</p>

<p>
  @ViewBag.Data2
</p>

<p>
  TempData : @TempData["Data1"]
</p>

 @* bu rezerve edilen sayfada ayrılan yere html göm.*@

@section SubHeader {
  <h2>
    Sub Header
  </h2>
}