
@{
  ViewData["Title"] = "Test";
  //Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Test</h1>


@section Scripts {
  <script>

  $(document).ready(function() {
    alert('merhaba');
  })

</script>
}

